{% extends "base.html" %}

{% block content %}
<div class=div_authors>
    <ul class="authors">
        <li class="details">Melvin <a href="https://github.com/Melvin-Leroy">lien GitHub</a> </li>
        <div class="profiles">
            <img class ="profile"src="static/css/melvin_picture.jpeg"width="500" height="500">
        </div>

        <li class="details">Lise <a href="https://github.com/lise-amen">lien GitHub</a> </li>
        <div class="profiles">
            <img src="static/css/lise_picture.jpg" width="500" height="500">
        </div>

        <li class="details">Guillaume <a href="https://github.com/guigem">lien GitHub</a> </li>

        <li class="details">John <a href="https://github.com/onathanDecleire">lien GitHub</a> </li>
        <div class="profiles">
            <img class ="profile"src="static/css/john_picture.jpeg"width="500" height="500">
        </div>

        <li class="details">Christian <a href="https://github.com/Ezamey">lien GitHub</a> </li>
    </ul>
</div>
{% endblock %}