{% extends "base.html" %}

{% block content %}
    <ul class="authors">
        <li>Melvin <a href="https://github.com/Melvin-Leroy">lien GitHub</a> </li>
        <div class="profiles">
            <img class ="profile"src="static/css/melvin_picture.jpeg"width="500" height="500">
        </div>

        <li>Lise <a href="https://github.com/lise-amen">lien GitHub</a> </li>
        <div class="profiles">
            <img src="static/css/lise_picture.jpg" width="500" height="500">
        </div>

        <li>Guillaume <a href="https://github.com/guigem">lien GitHub</a> </li>

        <li>John <a href="https://github.com/onathanDecleire">lien GitHub</a> </li>
        <div class="profiles">
            <img class ="profile"src="static/css/john_picture.jpeg"width="500" height="500">
        </div>

        <li>Christian <a href="https://github.com/Ezamey">lien GitHub</a> </li>
    </ul>
{% endblock %}