{% extends "base.html" %}

{% block content %}

<div class=text_content>
    <p>
        The project consists of using the below dataset that is a snapshot of data created everyday by the police departments of NYC. This dataset includes the traffic accidents that occurred, their location, time, vehicles involved, etc. With this dataset we are able to define a danger score to each street as explained in the below section.
        Based on that information and our map we have our environment of streets with their danger scores.
        Our application is able to calculate different routes based on the criterias that are defined in the navigation panel and calculate the most appropriate path based on those.
    </p>
</div>
<div class="footer">
    <!--<img id="img_ny"src="../static/img/NYC-Central-Park.jpg" alt="NewYork">-->
</div>
{% endblock %}