{% extends "base.html" %}

{% block content %}

<div class=text_content>
    <p>
        Cras nunc magna, placerat quis sapien et, fermentum convallis tellus.
        Proin nisi arcu, mattis eget tellus vitae, vestibulum finibus nunc. 
        In fermentum volutpat sem, at rutrum ex pharetra a. 
        In rhoncus bibendum vestibulum. Mauris egestas neque in eros 
        facilisis, id sodales libero euismod. Mauris ligula felis, pretium ut
        nisi non, venenatis tempus leo. Cras tempus tincidunt ipsum a consequat. 
        Nunc et augue finibus, blandit quam et, maximus tellus. Vestibulum luctus nisi a accumsan 
        facilisis. Interdum et malesuada fames ac ante 
        ipsum primis in faucibus. Quisque quis porta urna.
    </p>
</div>
<div class="footer">
    <!--<img id="img_ny"src="../static/img/NYC-Central-Park.jpg" alt="NewYork">-->
</div>
{% endblock %}