{% extends "base.html" %}

{% block content %}
    <h1>Navigation</h1>
    <form id="navigate" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="consign">Veuillez entrer une adresse ou des coordonnées au format (lat,long) :</p>
        <p>
            {{ form.location_start.label }}<br>
            {{ form.location_start(size=32) }}
            {% for error in form.location_start.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.location_to.label }}<br>
            {{ form.location_to(size=32) }}
            {% for error in form.location_to.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="form_p"> 
            Choisissez votre moyen de locomotion
            {{form.transportation}}
        </p>  
        <p class="form_p">
            Choisissez vos préférences de trajet:
            <span>
                {{form.pick}}
            </span>
        </p>  

        <button class="button">{{ form.submit() }}</button> 
    </form>
{% endblock %}