{% extends "base.html" %}

{% block content %}

<div class ="main_content">
    <h2>Navigation</h2>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.starting_point_long.label }}<br>
            {{ form.starting_point_long(size=32) }}
            {% for error in form.starting_point_long.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.starting_point_lat.label }}<br>
            {{ form.starting_point_lat(size=32) }}
            {% for error in form.starting_point_lat.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.dest_point_long.label }}<br>
            {{ form.dest_point_long(size=32) }}
            {% for error in form.dest_point_long.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.dest_point_lat.label }}<br>
            {{ form.dest_point_lat(size=32) }}
            {% for error in form.dest_point_lat.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
        {{form.transportation}}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

</div>
{% endblock %}