{% extends "base.html" %}

{% block content %}

<div class ="main_content">
    <h2>Navigation</h2>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>Enter a location or enter a latitude and a lagitude in format (lat/long)  :</p>
        <p>
            {{ form.location_start.label }}<br>
            {{ form.location_to(size=32) }}
            {% for error in form.location_start.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.location_to.label }}<br>
            {{ form.location_to(size=32) }}
            {% for error in form.location_to.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{form.transportation}}
        </p>
        <p>
            {{form.pick}}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

</div>
{% endblock %}