
body {
  max-width: 1250px;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background-color :#d6cbd3;
}

.main_content{
  background-color :  #dbbabd;
  padding-left: 10px;
  padding-bottom: 15px;
}
h1{
  color: azure;
}
.header_menu {
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color :  #dbbabd;
  height: 35px;
  width: 100%;
}
.consign{
  font-weight: bolder;
}
.authors{
  padding-top: 20px;
  font-weight: bold;
}
a.link_menu{
  color: azure;
  text-decoration: none;
  margin-left: 1em;
  padding-left: 2em;
}

a.link_menu:hover {
  color :darkgoldenrod;
}
a:visited:hover{
  color :darkgoldenrod;
}
a:visited {
  color: azure;
  text-decoration: none;
}

.footer{
  margin-top: 25px;
  max-width: 1250px;
  height: 250px;
  background-image : url("NYC-Central-Park.jpg");
}

img:img_ny{
  width: 1250px;
}

.profiles{
  width: auto;
  background-color:#d6cbd3;
}
.profile{
  border: 1px solid #ddd;
  border-radius: 4px;
}
